@model List<YSWL.MALL.Model.Shop.PromoteSales.GroupBuy>
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="pro-list-item">
            <div class="pro-item">
                <a href="@(ViewBag.BasePath)Product/GroupBuyDetail/@item.GroupBuyId">
                    <div class="pro-pic">
                        <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.GroupBuyImage, "T350X350_")" alt="@item.ProductName">
                    </div>
                    <p class="pro-name">@item.ProductName</p>
                    <div class="pro-price">
                        <span class="price-new"><i>¥</i>@item.LowestSalePrice.ToString("F")</span><span class="activity-tag tag-hollow-btn">立省@((item.LowestSalePrice - item.Price).ToString("F"))</span>
                    </div>
                </a>
            </div>
        </div>
    }
}