@{
    Layout = "/Areas/MShop/Themes/VPH/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "注册";
    string regStr = ViewBag.RegisterToggle;
}
@model YSWL.MALL.ViewModel.Shop.RegisterModel
           <style>
     .displayblock {
         display: block;
     }
 </style>
<script src="/Areas/MShop/Themes/VPH/Content/Scripts/UserCenter/EmailRegister.js" type="text/javascript"></script>
<header id="header" class="header clearfix">
    <div class="head_left fl"><a href="javascript:;" onclick="history.go(-1)"><span class="h_back"></span></a></div>
    <span class="headtit">注册</span>
    <div class="head_right fr"><a href="@ViewBag.BasePath"><span class="h_home"></span></a></div>
</header>
   <input id="hfSMSIsOpen" type="hidden" value="@ViewBag.SMSIsOpen" /> 
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "formregister" }))
    { 
           <input type="hidden" id="hfPhoneNumber"/>
        
        <div class="connerdiv">
            <input id="hfRegisterToggle" type="hidden" value="@regStr" /> 
            <dl class="connerbox">
                @if (regStr == "Email")
                {
                    <dd>
                        <span>&#12288;账&#12288;号：</span>
                        @Html.TextBoxFor(m => m.UserName, new { id = "email", Class = "text_input", placeholder = "请输入邮箱" })
                    </dd>
                }
                else if (regStr == "Phone")
                {
                    if (ViewBag.SMSIsOpen)
                    {
                        <dd>
                            <span>&#12288;账&#12288;号：</span>
                            @Html.TextBoxFor(m => m.UserName, new { id = "phone", Class = "text_input", placeholder = "请输入手机号码" })
                            
                        </dd>
                      
                    <dd>
                            <span>&#12288;验证码：</span>
                                   <input type="text" name="xlInput" id="imageCode" class="text_input" maxlength="4"    placeholder = "验证码"  />
                                  <img id="ImageCheck" onclick="ChangeImageCode()" src="/ValidateCode.aspx" tooltip="验证码"   style="vertical-align: bottom;width: 80px;height: 34px;"/>
                                       
                        </dd>
                       <dd><span>&#12288;&#12288;&#12288;&#12288;&#12288;</span>
                    <input id="btnSendSMS" type="button" value="发送校验码短信" style="height: 28px; width: 150px;" />
                     </dd>
                        <dd>
                            <span>&#12288;校验码：</span>
                             @Html.TextBoxFor(m => m.SMSCode, new { id = "checkCode", maxlength = "6", name = "xlInput", Class = "text_input", placeholder = "请输入效验码" })
                        </dd>
                    }
                    else
                    {
                       <dd>
                            <span>&#12288;账&#12288;号：</span>
                            @Html.TextBoxFor(m => m.UserName, new { id = "phone", Class = "text_input", placeholder = "请输入手机号码" })
                        </dd>
                    }

                }
                else
                {
                    <dd>
                        <span>&#12288;账&#12288;号：</span>
                        @Html.TextBoxFor(m => m.UserName, new { id = "email", Class = "text_input", placeholder = "请输入邮箱" })
                    </dd>
                }
                <dd><span>&#12288;昵&#12288;称：</span>
                    @Html.TextBoxFor(m => m.NickName, new { id = "nickname", Class = "text_input", placeholder = "请输入昵称" })
                </dd>
                <dd><span>&#12288;密&#12288;码：</span>
                    @Html.PasswordFor(m => m.Password, new { id = "pwd", Class = "text_input", placeholder = "请输入密码" })
                </dd>
                <dd><span>确认密码：</span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { Class = "text_input", id = "vpwd", placeholder = "确认密码", style = "width:auto;" })
                </dd>
                <dd style="height: 43px;padding: 0;">
                    <span> <input type="checkbox" id="chkAgreement" style="margin: 15px;"></span>
                    <div style="padding: 13px;">同意<a href="@(ViewBag.BasePath)Account/UserAgreement" >注册协议</a></div>
                </dd>
            </dl>
            <div class="space15"></div>
               
              <input type="button" class="btn_red largerbtn longbtn" id="btnEmailRegister" value="注册">
    <div class="space15"></div>
              <a href="@(ViewBag.BasePath)a/l" class="forgetkey">已有账号，去登录&gt;&gt;</a>
        </div>
        }
         <div class="modal hide ui-error "  style="width: 100%; top: 0px;  left: 0px;">
<div class="modal-body ">
<div class="modal-message"><a href="javascript:void(0)" class="closeBtn">×</a><div id="errorMsg"></div></div></div></div>
<div class="space10">
</div>
