@using Webdiyer.WebControls.Mvc
@model YSWL.MALL.ViewModel.Shop.ProductListModel
<script type="text/javascript">
    $(function () {
        $("#body").css("padding-top", "44px");
        $(".txtenddate").each(function () {
            var endDate = $(this).attr("endDate");
            var productId = $(this).attr("Product");
            var myclass = new CountDown();
            myclass.init({
                id: 'txtenddate_' + productId,
                //天数
                day_Dom: $("#dayEnd_" + productId),
                //小时 
                hour_Dom: $("#hourEnd_" + productId),
                //分钟
                min_Dom: $("#minEnd_" + productId),
                //秒
                sec_Dom: $("#secEnd_" + productId),
                endTime: endDate
            });
        })
    });
</script>
    @if (Model != null && Model.ProductPagedList != null && Model.ProductPagedList.Count > 0)
    {
        foreach (var item in Model.ProductPagedList)
        {
     
     <dl id="detailList" class="rs-item" style="min-height: 247px;">
        <a href="@(ViewBag.BasePath)Product/ProSaleDetail/@item.CountDownId" class="clearfix ablock">
            <dt class="pic">
                <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T175X228_")" style="display: block;">
            </dt>
            <dd class="b_goods_name">
                @item.ProductName
            </dd>
            <dd class="pricebox clearfix">
                <span class="grallyprice fl">¥@item.ProSalesPrice.ToString("F")</span>

                  <p class="item-brand txtenddate" style="font-size: 12px;color: #7c7c7c;text-align: left;display: inline-block;" endDate="@((item.ProSalesEndDate.ToUniversalTime() - Convert.ToDateTime("1970-01-01")).TotalMilliseconds.ToString("0"))"  Product="@item.CountDownId"  id="txtenddate_@(item.CountDownId)" >
剩余：<span id="dayEnd_@(item.CountDownId)">0</span>天<span id="hourEnd_@(item.CountDownId)">0</span>时 <span id="minEnd_@(item.CountDownId)">0</span>分 <span id="secEnd_@(item.CountDownId)">0</span>秒
</p>
        </a>
      
    </dl> 
 
        }
<div>
@Ajax.Pager(Model.ProductPagedList, new PagerOptions
{
    ShowDisabledPagerItems = false,
    AlwaysShowFirstLastPageNumber = false,
    PageIndexParameterName = "pageIndex",
    NumericPagerItemCount = 5,
    CurrentPagerItemTemplate = "<p class=\"in_s\">{0}</p>",
    NumericPagerItemTemplate = "<p>{0}</p>",
    NavigationPagerItemTemplate = "<p>{0}</p>",
    CssClass = "in_pages",
     
}).AjaxOptions(a => a.SetUpdateTargetId("ProductListDiv"))</div>
    }

