 @model List<YSWL.MALL.Model.CMS.ContentClass>
 

        <h1 class="sub-h1nav">@ViewBag.AclassName</h1>
		  <div class="m-left jsHa" id="div_article_left">
               @if (Model == null || Model.Count == 0)
               { 
		    <dl>
		    	<dt><span class="zhedie"></span>@ViewBag.AclassName</dt>
		        @Html.Action("ContentTitleList", "Article", new { classid = ViewBag.AclassId })
		    </dl>
                   
               }else { 
                        for (int i = 0; i < Model.Count; i++)
                       { 
                 <dl>
		  
		    	<dt><span class="zhedie"></span>@Model[i].ClassName</dt>
                @Html.Action("ContentTitleList", "Article", new { classid = Model[i].ClassID })
		    </dl>
                       }
               
               }
		  
		  </div>  

          <script type="text/javascript">
              $('#div_article_left dl:last').addClass('last');
              //左侧折叠
              $('.zhedie').click(function () {
                  $(this).parent('dt').siblings('dd').toggle();
              });    
          </script>

