@{
    Layout = "/Areas/MShop/Themes/AKTV/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "登录";
    string str;
}
<script type="text/javascript">
    var selfurl = window.location.pathname + window.location.search;
    if (selfurl.indexOf('a/l') == -1 &&
        selfurl.indexOf('a/login') == -1 &&
        selfurl.indexOf('account/login') == -1) {
        window.location = $YSWL.BasePath + "a/l?returnUrl=" + selfurl;
    }
    var ui = 'touch';
</script>
<script src="/Areas/MShop/Themes/AKTV/Content/Scripts/UserCenter/DefaultLogin.js" type="text/javascript"></script>
<link href="/Areas/MShop/Themes/AKTV/Content/Css/user.css" rel="stylesheet"/>
<script type="text/javascript" src="/Areas/MShop/Themes/AKTV/Content/Scripts/UserCenter/user.js"></script>
<style>
    .errorInfo
    {
        border: 1px solid red!important;
    }
</style>
@model YSWL.MALL.ViewModel.Shop.LogOnModel 
@if (ViewData.ModelState != null &&
         ViewData.ModelState.Count > 0 &&
         ViewData.ModelState["Message"] != null &&
         ViewData.ModelState["Message"].Errors.Count > 0)
{
    <script type="text/javascript">
        $(function () {
            ShowFailTip("@ViewData.ModelState["Message"].Errors[0].ErrorMessage");
        })
    </script>
    
    <script language="javascript">        $(document).ready(user_obj.user_login_init);</script>
}
 @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "user_form" }))
 {
     <input id="hfRegisterToggle" type="hidden" value="@ViewBag.RegisterToggle" /> 
             <input name="returnUrl" type="hidden"  value="@ViewBag.returnUrl"/>
         <div class="tips">您还未登录，请先登录！</div>
         <h1>没有帐号</h1>
         <div class="reg"><a href="@(ViewBag.BasePath)a/r">注册</a></div>
         <h1>已有帐号</h1>
     <div class="input">
         @if (ViewBag.RegisterToggle == "Phone")
         {
         @Html.TextBoxFor(m => m.UserName, new { type = "tel", pattern = "[0-9]*", notnull = "", name = "MobilePhone", id = "txtLogin", placeholder = "手机号码" })
         }
         else
         {
          @Html.TextBoxFor(m => m.UserName, new { id = "txtLogin", name = "MobilePhone", placeholder = "邮箱地址" })
         }
         @*<input type="tel" name="MobilePhone" value="" maxlength="11" placeholder="手机号码" pattern="[0-9]*" notnull="">*@
     </div>
     <div class="input">
         @Html.PasswordFor(m => m.Password, new { Class = "logininput text_input", notnull="",name = "Password", id = "password", placeholder = "登录密码" }) 
         @*<input type="password" name="Password" value="" maxlength="16" placeholder="登录密码" notnull="">*@
     </div>
         <div class="submit">
             <input type="button" value="立即登录" id="loginsubmit">
         </div>
   
 }


