@using Webdiyer.WebControls.Mvc
@model YSWL.MALL.ViewModel.Shop.ProductListModel

<div id="ProductListDiv">
@if (Model.ProductPagedList != null)
{
    <div class="products_list">
        @foreach (var item in Model.ProductPagedList)
        {
            <ul>
                <a href="@(ViewBag.BasePath)p/d/@item.ProductId" class="listimg">
                    <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T115X115_")"  width="100" height="100"/></a>
                <a href="@(ViewBag.BasePath)p/d/@item.ProductId">
                    <h3 class="ht1_o_h">
                        @item.ProductName
                    </h3>
                    <small class="zeng">￥@item.LowestSalePrice.ToString("F")
                    </small>@*<span class="valuation-star">
                                     <span class="mu-star">
                                         <span class="mu-starv" style="width: 80%"></span>
                                     </span>
                                     <span
                                         class="txt-star">已有103人评价
                                     </span>
                                 </span>*@ </a>
                <li class="item-addcart" style="display: none;"><span id="AddCart" productId="@(item.ProductId)" style="
margin-right: 5px;
padding-left: 15px;
float: left;
background: url(/Areas/MShop/Themes/AKTV/Content/images/list-v1-1.gif) no-repeat 0 -446px;
"><a href="javascript:;" style="color: #C62E3A;
white-space: nowrap;
padding-right: 15px;
line-height: 22px;
cursor: pointer;
_position: relative;
overflow: hidden;
float: left;
height: 22px;
_line-height: 24px;
background: url(/Areas/MShop/Themes/AKTV/Content/images/list-v1-1.gif) no-repeat 0 -446px;
background-position: 100% -446px;
">加入购物车</a></span></li>
            </ul>
        }
        <div>
            @Ajax.Pager(Model.ProductPagedList, new PagerOptions
       {
           ShowDisabledPagerItems = false,
           AlwaysShowFirstLastPageNumber = false,
           PageIndexParameterName = "pageIndex",
           NumericPagerItemCount = 3,
           CurrentPagerItemTemplate = "<p class=\"in_s\">{0}</p>",
           NumericPagerItemTemplate = "<p>{0}</p>",
           NavigationPagerItemTemplate = "<p>{0}</p>",
           CssClass = "in_pages",
            
       }).AjaxOptions(a => a.SetUpdateTargetId("ProductListDiv"))
        </div>
    </div>
}
</div>
<script type="text/javascript">
    $(".item-addcart #AddCart").die('click').live('click', function () {
        var sender = this;
        $.ajax({
            type: "POST",
            dataType: "json",
            async: false,
            url: $YSWL.BasePath + "ShoppingCart/AddCart?s=" + new Date().format('yyyyMMddhhmmssS'),
            data: { ProductId: $(sender).attr('productId'), Count: 1 },
            success: function (resultData) {
                switch (resultData.STATUS) {
                    case "SUCCESS":
                        ShowSuccessTip("加入购物车成功！");
                        break;
                    default:
                        switch (resultData.DATA) {
                            case "NOSTOCK":
                                ShowServerBusyTip("非常抱歉, 商品库存不足！");
                                break;
                            case "NOSKU":
                            case "NO":
                            default:
                                ShowFailTip("服务器繁忙，请稍候再试！");
                                break;
                        }
                        break;
                }
            }
        });
    });
</script>