<script type="text/javascript">
            $(function () {
                           waterFall.init({
                               //Ajax请求参数
                               AjaxOptions: {
                                   //Ajax请求参数
                                   Params: { ajaxViewName: "_ProductListWaterfall",cid:$("#hidDataParam").val(),mod: $(".adb").attr("mod") },
                                   //Params:$("#hidDataParam").val(),
                                   //Ajax请求URL
                                   DataURL: "@(ViewBag.BasePath)Product/Index"
                               },
                               //瀑布流起始索引记录器 - 用于累计
                               CurrentAjaxStartIndexHF: $('#hfCurrentPageAjaxStartIndex'),
                               //瀑布流起始索引
                               StartIndex:$('#hfCurrentPageAjaxStartIndex').val() ? parseInt($('#hfCurrentPageAjaxStartIndex').val()) : 0,
                               //瀑布流结束索引
                               EndIndex: $('#hfCurrentPageAjaxEndIndex').val() ? parseInt($('#hfCurrentPageAjaxEndIndex').val()) : 0,

                               //分页容器
                               PagedContainer: $('.in_pages'),
                               //列容器ID前缀
                               ColumnFirstId: "J_lazyload",
                               //列数
                               ColumnNumber: 0,RowNumber: 3
                           });
                           $.lazyFixedLoadImg('.prod_img', 115, 115);
                       });
</script>
@if (Model.ProductList != null)
{
    foreach (var item in Model.ProductList)
    {
        <div class="prod col-xs-6 col-sm-3 product">
            <a class="prod_img" href="@(ViewBag.BasePath)p/d/@item.ProductId">
                <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T158X158_")" style="height: 158px" />
                @switch ((int)item.ruleType)
                {
                case 0:
                <div class="prod_tip bg_red">
                    打折
                </div>
                break;
                case 1:
                <div class="prod_tip bg_blue">
                    减价
                </div>
                break;
                case 2:
                <div class="prod_tip bg_green">
                    直降
                </div>
                break;
                default:
                break;
                }
            </a>

            <div class="prod_item">
                <span>@(item.ProductName.Length > 18 ? item.ProductName.Substring(0, 17) + ".." : item.ProductName)</span>
                <span class="price_red">￥@item.LowestSalePrice.ToString("F")</span>
            </div>
            @*<div class="cart2 icon" onclick="dialogShow(@item.ProductId,@item.SupplierId,'@item.ThumbnailUrl1')">
                <span></span>
            </div>*@

            @{
                if (item.SalesType == 1 && item.SaleStatus == 1 && ViewBag.IsMultiDepot)
                {


                    <div class="cart2 icon">
                        <a href="javascript:;" onclick="dialogShow(@item.ProductId, @item.SupplierId, '@item.ThumbnailUrl1',@item.SupplierId,@item.ProductId)"><span></span></a>
                    </div>
                }
                else
                {
                    <div class="cart2 icon">
                        <a href="javascript:;" onclick="dialogShow(@item.ProductId,@item.SupplierId,'@item.ThumbnailUrl1')"><span></span></a>
                    </div>
                }
            }
        </div>
    }
}
else
{
    <div class="shp_cart_wrap mt44 mb50">
        <div class="emptycart " style="display:block">
            <div class="shp_cart_empty">
                <div class="order_empty">
                    <div class="search_empty_pic icon">
                        <span></span>
                    </div>
                    <div class="empty_warning_text">
                        暂无结果
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<input type="hidden" id="hfCurrentPageAjaxStartIndex" value="@ViewBag.CurrentPageAjaxStartIndex" />
<input type="hidden" id="hfCurrentPageAjaxEndIndex" value="@ViewBag.CurrentPageAjaxEndIndex" />
<input type="hidden" id="hfCurrentPageAjaxSize" value="@ViewBag.CurrentPageAjaxSize" />
