@using Webdiyer.WebControls.Mvc
@model YSWL.MALL.ViewModel.Shop.ProductListModel
@if (Model.ProductList != null)
{
    foreach (var item in Model.ProductList)
    {
        <div class="prod col-xs-6 col-sm-3 product">
            <a class="prod_img" href="@(ViewBag.BasePath)p/d/@item.ProductId">
                <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T158X158_")" style="height: 158px"/>
                @switch(item.ruleType)
                    {
                        case 0:
                        <div class="prod_tip bg_red">
                            打折
                        </div>
                        break;
                    case 1:
                        <div class="prod_tip bg_blue">
                            减价
                        </div>
                        break;
                    case 2:
                        <div class="prod_tip bg_green">
                            直降
                        </div>
                        break;
                    default:
                        break;
                }
             </a>
           
            <div class="prod_item">
                <span>@(item.ProductName.Length > 18 ? item.ProductName.Substring(0,17) + ".." : item.ProductName)</span>
                <span class="price_red">￥@item.LowestSalePrice.ToString("F")</span>
            </div>

            @{
                if (item.SalesType == 1 && item.SaleStatus == 1 && ViewBag.IsMultiDepot)
                {
                    <div class="cart2 icon"  onclick="dialogShow(@item.ProductId, @item.SupplierId, '@item.ThumbnailUrl1',@item.SupplierId,@item.ProductId)">
                        <span></span>
                    </div>
                }
                else
                {
                    <div class="cart2 icon" onclick="dialogShow(@item.ProductId,@item.SupplierId,'@item.ThumbnailUrl1')">
                        <span></span>
                    </div>
                }
            }
        </div>
    }
}
