 @using YSWL.MALL.Model.Shop.Products
@using Webdiyer.WebControls.Mvc
 @model PagedList<YSWL.MALL.ViewModel.Shop.FavoProdModel> 

        @if (Model != null)
        {
            <table data-role="table" id="movie-table" data-mode="reflow" class="ui-body-c ui-shadow table-stroke breakpoint ui-table ui-table-reflow" data-column-btn-theme="b" data-column-btn-text="Columns to display..." data-column-popup-theme="a">
                <thead>
                    <tr class="ui-bar-b">
                        <th class="tag">商品名称</th>
                        <th class="status">图片</th>
                        <th class="info">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.SaleStatus == (int) ProductSaleStatus.OnSale)
                        {
                            <tr>
                                <td class="a_name"><b class="ui-table-cell-label">商品名称</b><a href="@(ViewBag.BasePath)p/d/@item.ProductId"  rel="external">@YSWL.Common.StringPlus.SubString(item.ProductName, 18, "...") </a></td>
                                <td> <b class="ui-table-cell-label">图片</b><a href="@(ViewBag.BasePath)p/d/@item.ProductId" class="favor_listimg" ><img title="@item.ProductName" width="50px" height="65px"  src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T50X65_")"  onerror=" this.onerror = '';this.src = '/Content/themes/base/Shop/images/none.png' " /> </a></td>
                                <td><b class="ui-table-cell-label">操作</b>
                                    <a href="javascript:;"  itemid="@item.FavoriteId" data-role="button" data-inline="true" data-mini="true" data-theme="e" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-e ui-shadow ui-btn-corner-all ui-mini ui-btn-inline btnDelete">
                                        <span class="ui-btn-inner"><span class="ui-btn-text">取消收藏</span></span>
                                    </a>
                                </td>
                            </tr>

                        }
                        else
                        {
                            <tr alt="此商品已下架">
                                <td>
                                   @YSWL.Common.StringPlus.SubString(item.ProductName, 18, "...")  
                                </td>
                                <td>
                                    
                                   <img title="@item.ProductName" width="50px" height="65px"  src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T50X65_")"  onerror=" this.onerror = '';this.src = '/Content/themes/base/Shop/images/none.png' " /> 
                                </td>
                                <td>
                                    
                                    <a href="javascript:;"  itemid="@item.FavoriteId" data-role="button" data-inline="true" data-mini="true" data-theme="e" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-e ui-shadow ui-btn-corner-all ui-mini ui-btn-inline btnDelete">
                                        <span class="ui-btn-inner"><span class="ui-btn-text">取消收藏</span></span>
                                    </a>
                                </td>
                            </tr>

                        }


                    }
      
                </tbody>
            </table>
            
                <div>
                        @Ajax.Pager(Model, new PagerOptions
                   {
                       ShowDisabledPagerItems = false,
                       AlwaysShowFirstLastPageNumber = false,
                       ShowFirstLast = false,
                       ShowPrevNext = false,
                       PageIndexParameterName = "pageIndex",
                       NumericPagerItemCount = 3,
                       CurrentPagerItemTemplate = "<p class=\"in_s\">{0}</p>",
                       NumericPagerItemTemplate = "<p>{0}</p>",
                       NavigationPagerItemTemplate = "<p>{0}</p>",
                       CssClass = "in_pages",
                        
                   }).AjaxOptions(a => a.SetUpdateTargetId("divmyfavorlist"))
                    </div>

                    <script type="text/javascript">

                        $(".btnDelete").click(function () {
                            var itemId = $(this).attr("itemid");
                            $.ajax({
                                type: "POST",
                                dataType: "text",
                                url: $YSWL.BasePath + "u/RemoveFavorItem",
                                data: { ItemId: itemId },
                                success: function (data) {
                                    if (data == "Ok") {
                                        $("#divmyfavorlist").load($YSWL.BasePath + "u/FavorList");
                                    } else {
                                        ShowFailTip("服务器繁忙，请稍候再试！");
                                    }
                                }
                            });
                        });

                    </script>
                    	
        }
        else
        {
            <p style="margin-top: 20px; margin-left: 20px; font-size: inherit;">
                亲，您暂时还没有收藏商品哦 <br />
                去<a href="@(ViewBag.BasePath)p"   rel="external" style="clolor:#2489ce;text-decoration: none;">商品频道</a>挑选喜欢的商品  </p>


        }
  