@{
    Layout = "/Areas/MShop/Themes/AKTV/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "商品分类";
    ViewBag.Keywords = "商品分类";
    ViewBag.Description = "商品分类";
}
<link href="/Areas/MShop/Themes/AKTV/Content/Css/ProductStyle.css" rel="stylesheet"/>
@model List<YSWL.MALL.Model.Shop.Products.CategoryInfo>
<script type="text/javascript">
    $(function () {
        $(".CategoryList").click(function () {
            $(this).next().toggle();
        });
    })
</script>
<div class="top">
    @if (ViewBag.ParentId > -1)
    {
        <a href="@(ViewBag.BasePath)p/c/@ViewBag.ParentId"><span>@ViewBag.CurrentName</span></a>
    }
    else
    {
        <span>全部分类</span>
    }
    
</div>
<div class="yy">
</div>
@if (Model != null && Model.Count > 0)
{
    <div class="fl_home">
        <ul>
            @foreach (var item in Model)
            {
                if (item.HasChildren)
                {
                <li class="CategoryList"><a href="javascript:;"><span class="icon"></span><span>@item.Name</span>
                </a></li>
                
                @Html.Action("CategoryList", "Product", new { parentId = item.CategoryId, viewName = "_SecCateList" })     
                }
                else
                {
                <li><a href="@(ViewBag.BasePath)p/@item.CategoryId"><span class="icon"></span><span>@item.Name</span>
                </a></li>
                }

            }
        </ul>
    </div>
}
