@using YSWL.MALL.Model.Shop.Order
@using Webdiyer.WebControls.Mvc
@model PagedList<YSWL.MALL.Model.Shop.Order.OrderInfo>
    <div id="LoadOrderList">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                int num = 0;
                foreach (var it in item.OrderItems)
                {
                    num = num + it.Quantity;
                }
                <div class="order_wrap wrap">
                    <div class="order_item">
                        <span class="order_num">
                            @item.OrderCode
                        </span>
                        <span class="order_status">@YSWL.MALL.Web.Areas.MBShop.Controllers.UserCenterController.GetOrderType(item.PaymentGateway, item.OrderStatus, item.PaymentStatus, item.ShippingStatus)</span>
                    </div>
                    <div class="order_info_wrap">
                        <div class="order_info" onclick='javascript:window.location.href="@(ViewBag.BasePath)O/oi/@item.OrderId"'>
                            <table>
                                <tr>
                                    <td>订单金额</td>
                                    <td>￥@item.Amount.ToString("F")</td>
                                </tr>
                                <tr>
                                    <td>商品数量</td>
                                    <td>@num</td>
                                </tr>
                                <tr>
                                    <td>下单时间</td>
                                    <td>@item.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                </tr>
                            </table>
                        </div>
                        <div class="buy_again" onclick="buy_again(@item.OrderId)">
                            <input type="button" size="4" value="再次购买" class="btn1">
                        </div>
                        <div class="btn_box">
                            @switch ((int)item.OrderStatus)
                    {
                        case (int)YSWL.MALL.Model.Shop.Order.EnumHelper.OrderStatus.UnHandle://未处理
                            if (item.PaymentStatus == (int)YSWL.MALL.Model.Shop.Order.EnumHelper.PaymentStatus.Unpaid && item.PaymentGateway != "cod" && item.PaymentGateway != "bank")
                            {
                                        <input type="button" size="4" value="支付" class="btn btn2 order_btn btnPayOrder" ItemId="@item.OrderId" />
                                        <input type="button" size="4" value="取消" class="btn btn2 order_btn btnOrderCancel" ItemId="@item.OrderId" />
                                    }
                                    break;
                                default: break;
                            }
                            
        @if (YSWL.Components.MvcApplication.IsAutoConn && item.OrderStatus >-1 && item.OrderStatus < 2 && item.PaymentGateway == "cod" && item.ShippingStatus < 2)
        {
                                        <input type="button" size="4" value="取消" class="btn btn2 order_btn btnOrderCancel" ItemId="@item.OrderId" />
        }
                            @switch ((YSWL.MALL.Model.Shop.Order.EnumHelper.OrderMainStatus)YSWL.MALL.Web.Areas.MBShop.Controllers.UserCenterController.GetOrderMainStatus(item.PaymentGateway, item.OrderStatus, item.PaymentStatus, item.ShippingStatus))
                    {
                        case YSWL.MALL.Model.Shop.Order.EnumHelper.OrderMainStatus.Shiped://已发货
                                    <input type="button" size="4" value="确认收货" class="btn btn2 order_btn btnOrderComplete" itemid="@item.OrderId" style="display: none" />
                                    break;
                                default: break;
                            }
                   
                            <a href="@(ViewBag.BasePath)O/oi/@item.OrderId"><input type="button" size="4" value="详情" class="btn btn2 order_btn" /></a>
                        </div>
                    </div>
                  
                </div>
            }
            @Ajax.Pager(Model, new PagerOptions
        {
            PageIndexParameterName = "pageIndex",
            NumericPagerItemCount = 3,
            NumericPagerItemTemplate = "<p>{0}</p>",
            NavigationPagerItemTemplate = "<p>{0}</p>",
            CssClass = "in_pages_m",

        }).AjaxOptions(a => a.SetUpdateTargetId("LoadOrderList"))
        }
        else
        {
            <div class="order_empty">
                <div class="order_empty_pic icon">
                    <span></span>
                </div>
                <div class="empty_warning_text">
                    您还没有相关的订单
                </div>
            </div>
        }
    </div>
   
                    <script>

                        $(function () {
                            $('body').addClass("bg");
                        });
                    </script>