@model List<YSWL.MALL.Model.SNS.Comments>
     @foreach (YSWL.MALL.Model.SNS.Comments item in Model)
     {
                    <div class="tgoods_z">
                       <div class="tgoods_z_e"><a  target="_blank" href="@(ViewBag.BasePath)User/Posts/@item.CreatedUserID"><img style=" width:32px; height:32px" src="/@(YSWL.Components.MvcApplication.UploadFolder)/User/Gravatar/@(item.CreatedUserID).jpg" alt="@item.CreatedNickName"></a></div>
                       <div class="tgoods_z_f">
                          <div class="tgoods_z_f1">
                             <p class="tgoods_z_f11"><a  target="_blank" href="@(ViewBag.BasePath)User/Posts/@item.CreatedUserID">@item.CreatedNickName</a></p>
                             <p class="tgoods_z_f12">@YSWL.MALL.ViewModel.ViewModelBase.DateDiff(item.CreatedDate)</p>
                          </div>
                          <div class="tgoods_z_f2">@Html.Raw(YSWL.MALL.ViewModel.ViewModelBase.RegexNickName(item.Description, YSWL.Components.MvcApplication.GetCurrentRoutePath(YSWL.Web.AreaRoute.SNS)))</div>
                          <div class="tgoods_z_f3"><a href="javascript:;" class="replycomment" nickname=@item.CreatedNickName>回复</a></div>
                       </div>
                    </div>
     }
