 @using YSWL.Common;
@using Webdiyer.WebControls.Mvc
@model PagedList<YSWL.MALL.ViewModel.Shop.CommissionProStat>
    <input value="@ViewBag.TotalFee.ToString("F")"   type="hidden" id="hidTotalFee"/>
    <script type="text/javascript">
        $('#span_totalFee').text($('#hidTotalFee').val());
    </script>
    @if (null != Model)
    {
        <table width="100%" border="0" class="user_dingdan" cellspacing="0" cellpadding="0">
            <tr>
                <th>商品名称</th>
                <th  style="width: 120px;">佣金</th>
                <th  style="width: 120px;">商品数量</th>
            </tr>
            @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr align="center">
                            <td height="40" class="bor" style="padding:0 0 0 3px; text-align:left;"  >
                               <a href="@(ViewBag.BasePath)Product/Detail/@item.ProductId" target="_blank">@item.ProName</a> 
                            </td>
                            <td class="bor" style="padding:0 3px 0 0;text-align:right">
                               ￥@item.TotalFee.ToString("F")
                            </td>
                            <td class="bor">
                                @item.TotalProduct
                            </td>
                        </tr>
                    }
                }
        </table>


        <center>
            @Ajax.Pager(Model, new PagerOptions
           {
               PageIndexParameterName = "pageIndex",
               NumericPagerItemCount = 10,
               NumericPagerItemTemplate = "<p>{0}</p>",
               NavigationPagerItemTemplate = "<p>{0}</p>",
               CssClass = "in_pages",
                
           }).AjaxOptions(a => a.SetUpdateTargetId("div_list"))
        </center>
    }
