@{
    Layout = "~/Areas/MShop/Themes/YX/Views/Shared/_BaseLayoutNullFooter.cshtml";
    ViewBag.Title = "商品分类";
}
@model List<YSWL.MALL.Model.Shop.Products.CategoryInfo>
<link href="/Areas/MShop/Themes/YX/Content/css/gb.css" rel="stylesheet" type="text/css" />
<link href="/Areas/MShop/Themes/YX/Content/css/cate.css" rel="stylesheet" type="text/css" />
<!--分类页-->
<div class="page_cate" >
    <!--顶部导航-->
    <header class="y_hd"><a href="javascript:;" onclick="history.go(-1);" class="y_hd_back J_ytag"
        ytag="10000" data-type="1"></a>商品分类</header>
    <!--/顶部导航-->
    <div class="y_loading" id="J_tips_outer" style="display: none; opacity: 0; -webkit-transition: opacity 0.2s ease-in 0s;
        transition: opacity 0.2s ease-in 0s;">
        <div class="mask">
        </div>
        <img class="left">
        <div class="inner-content" id="J_error_txt">
            <div class="loading-gif">
            </div>
            <div id="J_tips">
                努力加载中...</div>
        </div>
    </div>
    <div class="cate">
        <!--一级分类-->
        <div class="cate_first J_cateFirst page">
            @if (null != Model && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                <dl class="item J_ytag" data-id="1-0" ytag="11001" data-type="2">
                    <dt>
                        @if (item.HasChildren)
                        {
                            <a href="@(ViewBag.BasePath)p/c/@item.CategoryId?viewName=SecondCate" style="max-width: 100px;overflow: hidden;">@item.Name</a>
                        }
                        else
                        {
                            <a href="@(ViewBag.BasePath)p/@item.CategoryId" style="max-width: 100px;overflow: hidden;">@item.Name</a>
                        }
                    </dt>
                    @Html.Action("CateList", "Partial", new { parentId = item.CategoryId, viewName = "_CateListSec" })
                    @if (item.HasChildren)
                    {
                        <a href="@(ViewBag.BasePath)p/c/@item.CategoryId?viewName=SecondCate">
                            <img src="/Areas/MShop/Themes/YX/Content/images/right.png" class="rightGo" />
                        </a>
                    }
                    else
                    {
                        <a href="@(ViewBag.BasePath)p/@item.CategoryId">
                            <img src="/Areas/MShop/Themes/YX/Content/images/right.png" class="rightGo" />
                        </a>
                    }
                </dl>
                }
            }
        </div>
        <!--/一级分类-->
    </div>
</div>


